<ion-view view-title="Vídeos">
  <ion-content class="padding fondoblanco">

    <div class="container">
      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Grupo 3. Osmosis: difusión
        </div>
      </div>
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N2vbhD7Mjso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Grupo 4. Transporte activo
        </div>
      </div>
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wGbMLlZxX_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Grupo 5. Transporte pasivo
        </div>
      </div>
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X4cC5T72rlA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Grupo 6. Membrana plasmática
        </div>
      </div>
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eFnO2xMmuYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> 

      <div class="row">
        <div class="col">
          <br>
          <hr class="line1">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="copyright text-center">© Virtual Programs Developers All right reserved.</p>
        </div>
      </div>
    
      
    </div>         
  

  </ion-content>
</ion-view>
