<ion-view view-title="Infografía">
  <ion-content>
    
  	<link rel="stylesheet"  href="../css/style.css">

  	<div class="container fondoblanco">
  		<br>
  		<hr class="line1">
  		<hr class="line">

  		<div class="row">
  			<div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Árbol genealógico
  			</div>
		  </div>

		  <br>
  		<div class="row">
    			<img src="../img/arbol.png" class="arbol">
    	</div>

      <div class="row">
        <div class="col">
          <br>
          <hr class="line1">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="copyright text-center">© Virtual Programs Developers All right reserved.</p>
        </div>
      </div>
  

  </ion-content>
</ion-view>
