<!--codigo de html de informacion locla desde un contenedor view-->
<ion-view view-title="Juego">
  <ion-content>

    <link rel="stylesheet" href="../css/memoria.css">
    
    <div class="fondoblanco">
      <!-- Juego de Memoria -->
      <div id="divCreditos"></div>
      <div id="divContenedor">
        <ul class="ul"></ul>
        <div id="divInicio">
          <div id="divInferior" >
            <p>
              Encuentra las imágenes pares.
              <br>
            </p>
            <input type="button" value="Jugar" id="btnJugar" >
          </div>
        </div>
        <div id="divContador">
          <p>
            Presiona el bot&oacute; para iniciar.
          </p>
        </div>
      </div>
      
    </div>
    
    <script type="text/javascript" src="js/ext/jquery.min.js"></script>
    <script type="text/javascript" src="js/memoria.js"></script>





  </ion-content>
</ion-view> 