<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-negative-dark">

  <!-- Principal -->
  <ion-tab title="Inicio" icon-off="ion-waterdrop" icon-on="ion-waterdrop" href="#/tab/principal">
    <ion-nav-view name="tab-principal"></ion-nav-view>
  </ion-tab>

  <!-- ADN  -->
  <ion-tab title="ADN" icon-off="fas fa-dna" icon-on="fas fa-dna" href="#/tab/adn">
    <ion-nav-view name="tab-adn"></ion-nav-view>
  </ion-tab>  


  <!-- Memoria -->
  <ion-tab title="Juego" icon-off="fas fa-gamepad" icon-on="fas fa-gamepad" href="#/tab/memoria">
    <ion-nav-view name="tab-memoria"></ion-nav-view>
  </ion-tab>

  <!-- Account infografia -->
  <ion-tab title="Infografía" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/infografia">
    <ion-nav-view name="tab-infografia"></ion-nav-view>
  </ion-tab>


</ion-tabs>
